.error-indicator{
    display: inline-block;
  margin:0 auto;
     padding: 30px 15px;
     border-radius: 5px;
     background-color: #868585cc;
     box-shadow: 0 0 6px 1px rgba(255, 255, 255, 0.5);
    text-align: center;
}
.error-indicator p{
    display: block;
    text-align: center;
    color:rgb(41, 41, 41);
    font-size: calc(12px + 1vw);
    line-height: 1;
}
.boom{
    margin-top: 15px;
    font-weight: 800;
}
.error-indicator img{
    max-width: 80px;
}