.todo_card {
    background-color: fuchsia;
    height: auto;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 4px 4px 10px #bdbdbd, 4px 4px 10px #ffffff;
    .todo_btn:not(:last-child) {
        margin-right: 10px;
    }
    .btn-outline-success {
        background-color: #198754;
        color: white;
        transition: all 0.4s linear;
    }
    .btn-outline-success:hover {
        background-color: white;
        color: #198754;
    }
    .btn-outline-danger {
        background-color: #dc3545;
        color: white;
        transition: all 0.4s linear;
    }
    .btn-outline-danger:hover {
        background-color: white;
        color: #dc3545;
    }
}
